*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    margin: 0 auto;
}
.maximo{
    min-width: 100%;
    width: 100%;
}
/* menu */
header{
    background: #ffffff;
    height: 120px;
}
header nav ul{
    display: flex;
    margin: 0 auto;
}
header nav ul li{
    list-style: none;
    
}
header nav ul li a{
    font-family: Abril Fatface;
    font-size: 20px;
    color: #000000;
    padding: 0 20px;
}
.logo{
    margin: 0 auto;
    position: relative ;
    font-family: charlotte;
    color: #F56A79;
    font-size: 50px;
    padding: 10px 50px;
    
}


.postagens{
    min-width:885px ;
    width: 80%;
}
.postagens h1{
    border-bottom: 2px solid black ;
}
.barra-lateral{
    width: 
    background-color:red;
}