@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}

/* menu ----------------------------------------------------------*/ 

.logo2{
    font-family: 'Cookie', cursive;
    color: #FF414F;
    font-size: 60px;
    line-height: 120px;
    
}
nav a:hover{
    text-decoration: none;
    color:#1AA6B7;
}

/* banner-------------------------------------------------------- */
.banner{
    height: 454px;
    background: #D9ECF2;
    margin-bottom: 50px;
}
.banner img{
    width: 100%;
    overflow: hidden;
}


/* postagens ------------------------------------------------------*/

.postagens h1{
    border-bottom: 1px solid black;
    font-family: 'Abril Fatface', cursive;
}
.postagens p{
    display: inline;
    min-width: 280px;
}
.postagens img{
    float: left;
    margin: 10px;
    width: 40%;
    min-width: 280px;
}
.postagens a{
    text-decoration: none;
    float: right;
    margin:50px 10px;
    color: white;
    background: #1AA6B7;
    width: 150px;
    line-height: 50px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.postagens a:hover{
    text-decoration: none;
    color: #D9ECF2;
}

/*BARRA LATERAL*/
/*sobre mim---------------------------------------------------------*/
.lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.lateral h1{
    font-family: 'Cookie', cursive;
    font-size: 40px;
    line-height: 67px;
}
.sobre-mim{
    width: 350px;
    height: 600px;
}

.sobre-mim p{
    margin: 10px 50px;

}
.foto-perfil{
    background: #002D40 url(../imagens/Ellipse\ 5.png) no-repeat center;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    padding-left: 10px;
    border-radius: 100% 100%;
}

/*redes sociais-----------------------------------------------------*/
.redes{
    width: 350px;
    margin: 60px 0px;
}
.redes a img{
    margin: 20px auto;
    width: 55px;
}
.redes a img:hover{
    width: 60px;
}

/* inscreva-se-----------------------------------------------------*/
.inscricao{
    background: #FF414F;
    color: #fff;
    width: 350px;
    height: 400px;
}
.inscricao h2{
    font-family: 'Gayathri', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3em;
    text-align: center;  
    font-size: 30px;
    margin: 60px auto 20px;

}
.inscricao p{
    font-size: 14px;
    width: 320px;
    text-align: center;
    margin: 0 auto;
}
.inscricao form{
    width: 250px;
    margin: 0 auto;
}
.inscricao input{
    font-family: 'Gayathri', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 10px;
    width: 250px;
}
.inscricao button{
    width: 100%;
    background: #1AA6B7;
    color: #fff;
}

/* footer -----------------------------------------------------------*/
footer{
    background: #002D40;
    color: #fff;
}